<div class="repository-list-container">
    <mat-card *ngFor="let repo of repositories.slice((currentPage - 1) * pageSize, currentPage * pageSize)" class="repository-card">
      <mat-card-header>
        <mat-card-title>{{ repo.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ repo.description }}</p>
        <ul>
          <li *ngFor="let topic of repo.topics">{{ topic }}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  
    <mat-paginator [length]="repositories?.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
</div>